[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = GUI Client to Elastic Search
[access "refs/*"]
	owner = group user/Lineu Felipe (darkSasori)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Lineu Felipe (darkSasori)
	label-Verified = -1..+1 group user/Lineu Felipe (darkSasori)
	push = group user/Lineu Felipe (darkSasori)
	read = group user/Lineu Felipe (darkSasori)
	rebase = group user/Lineu Felipe (darkSasori)
	removeReviewer = group user/Lineu Felipe (darkSasori)
	submit = group user/Lineu Felipe (darkSasori)
[access "refs/heads/*"]
	create = group user/Lineu Felipe (darkSasori)
	push = +force group user/Lineu Felipe (darkSasori)
	pushMerge = group user/Lineu Felipe (darkSasori)
	read = group user/Lineu Felipe (darkSasori)
[access "refs/tags/*"]
	push = group user/Lineu Felipe (darkSasori)
	push = +force group user/Lineu Felipe (darkSasori)
